{% extends 'base.html.twig' %}

{% block title %}Hello ShipController!{% endblock %}

{% block body %}

<div class="ship_card">
    <img src="https://media.robertsspaceindustries.com/w9pcyoav93o22/store_slideshow_large.jpg">
    <div class="info_panel">
    </div>
</div>
{% endblock %}
