{% extends 'base.html.twig' %}

{% block title %}Ship{% endblock %}

{% block body %}
<div class="main_page">
    {% if shipImageLink %}
    <img src="{{ shipImageLink }}">
    {% endif %}
</div>
{% endblock %}
