{% extends 'base.html.twig' %}

{% block title %}Hello FirstController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>D:/_DEV/starHQ/src/Controller/FirstController.php</code></li>
        <li>Your template at <code>D:/_DEV/starHQ/templates/first/index.html.twig</code></li>
        {% for test in tests %}
            {# comment #}
            <li> {{test}} </li>
        {% endfor %}
        {{ author }}

        <img src="{{ asset('images/2020-12-19 18_55_09-Twitch.png') }}">

    </ul>
</div>
{% endblock %}
