body {
    background-color: #243249;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
}

.info_panel{
    background-color: #243249;

}
.navbar {

    background-color: #101824;
    display: flex
    
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: space-around; 
    align-items: center;

}
.navbar ul li a {
    display: block;
    color: #6fd8ff;
    text-align: center;
    text-decoration: none;
    
}
.navbar-nav {
    width: 90%;
}