body {
    background-color: rgb(0, 0, 12);
    margin: 0;
    font-family: 'Orbitron', sans-serif;
}
.main_page {
    position:absolute;
    display:flex;
    width:100%;
    flex-direction: column;
    align-items: center;
}

.ship_card {
    display:flex;
    margin-bottom: 15px;
    border: 3px solid rgb(1, 38, 59);
}
.ship_image {
    height:300px;
}
.ship_image:hover {
    cursor: pointer;
    opacity:0.5;
}
.info_panel{
    position:relative;
    background-color: #29668a;
    width:600px;
    height:300px;
    color : rgb(163, 191, 223);
}
.ship_name {
    color: #0e3952;
    font-size: 32px;
    text-decoration: none;
    margin:0;   
}
.ship_name:hover {
    cursor: pointer;
    color: #1e73a5;
    text-decoration: underline;
}
.ship_category {
    background-color: rgb(121, 156, 201);
    color: black;
    margin:0;
    padding: 1%;
    padding-left: 5%;
    font-size: large;
}
.ship_top {
    display:flex;
    align-items: center;
    margin-left: 5%;
}
.ship_size {
    margin-left: 2%;
    text-transform: uppercase;
}
.ship_description {
    margin: 2%;
}
.delete_button {
    position:absolute;
    bottom:0;
    right:0;
    background-color: rgb(160, 41, 41);
    padding: 3px;
    margin:5px;
    border: solid black 2px;
}

.delete_button:hover {
    cursor:pointer;
    background-color: rgb(226, 58, 58);

}
.add_button {
    background-color: rgb(21, 117, 21);
    color: black;
    text-decoration: none;
    padding: 5px;
    border: solid black;
}
.add_button:hover {
    background-color: rgb(39, 189, 39);
    color: black;
    cursor: pointer;
}
.ship_search_bar {
    color: white;
    margin: 5px;
}
.star_button {
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}
.hangar_img {
    position:relative;
}
.hangar_img img{
    width: 1000px;
    height: 400px;
    margin-top: 100px;
    margin-bottom: 20px;
    opacity: 0.5;
}
.hangar_img_title{
    position: absolute;
    z-index: 1;
    color: rgb(201, 212, 214);
    transform: translateX(-50%) translateY(-50%);
    top:80%;
    left:50%;
    text-wrap: nowrap;
    font-size: 64px;
    font-weight: 900;
}
.ship_page_img {
    position:absolute;
}
.ship_page_img img{
    opacity: 0.7;
}
.ship_role {
    text-transform: uppercase;
    padding: 2px;
    font-size: 24px;
    color: black;
}
.ship_description {
    color: rgb(201, 212, 214);
}
.ship_stat {
    display:flex;
    align-items: baseline;
    font-size: large;
    color: rgb(201, 212, 214);
    margin-top: 400px;
}
.ship_stat p{
    margin-left: 30px;
}
.ship_pledge_link {
    margin-top: 20px;
}
.ship_pledge_link a{
    color: rgb(49, 152, 170);
    text-decoration: none;
}


.navbar {

    background-color: #101824;
    display: flex
    
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: space-around; 
    align-items: center;

}
.navbar ul li a {
    display: block;
    color: #6fd8ff;
    text-align: center;
    text-decoration: none;
    
}
.navbar-nav {
    width: 90%;
}