body {
    background-color: lightgrey;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
}

.ship_card {
    display:flex;
    margin-bottom: 15px;
}
.ship_image {
    height:300px;
}
.info_panel{
    position:relative;
    background-color: #4094c4;
    width:600px;
    height:300px;
}
.ship_name {
    color: #0e3952;
    font-size: 32px;
    text-decoration: none;
    margin:0;   
}
.ship_name:hover {
    cursor: pointer;
    color: #1e73a5;
    text-decoration: underline;
}
.ship_category {
    background-color: rgb(121, 156, 201);
    color: black;
    margin:0;
    padding: 1%;
    padding-left: 5%;
    font-size: large;
}
.ship_top {
    display:flex;
    align-items: center;
    margin-left: 5%;
}
.ship_size {
    margin-left: 2%;
    text-transform: uppercase;
}
.ship_description {
    margin: 2%;
}
.delete_button {
    position:absolute;
    bottom:0;
    right:0;
    background-color: rgb(160, 41, 41);
    padding: 3px;
    margin:5px;
    border: solid black 2px;
}

.delete_button:hover {
    cursor:pointer;
    background-color: rgb(226, 58, 58);

}



.navbar {

    background-color: #101824;
    display: flex
    
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: space-around; 
    align-items: center;

}
.navbar ul li a {
    display: block;
    color: #6fd8ff;
    text-align: center;
    text-decoration: none;
    
}
.navbar-nav {
    width: 90%;
}